/* .dropdown-menu{
    position:absolute;
    top:30px;
    z-index: 1;
} */
 .form-login{
    position:absolute;
    top:65px;
    right: 50px;
    z-index: 1;
 }
 .modal-body .form-control::placeholder {
    color: rgba(255, 255, 255, 0.5) !important;
}
.btn-create{
    margin-top: -15px;
}
.btn-login{
    margin-top: -15px;
}